@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')
@import url('http://www.w3schools.com/lib/w3.css')
*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header

  
  width 2400px 
  height 544px 
  position relative
  left -250px
  margin auto
  overflow hidden
  
  
  .w3-btn-floating 
    position absolute
    top 50%
  #btn1
      left 0
  #btn2
      right 0

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px