extend default

block content
  p.
    Hello! Welcome to my Site!
    My name is Soumyajit ... I love to travel and take photographs.
    peruse through the galleries to view the pictures I had taken in my trips
    Happy Browsing!

  p.
    NB:
    This my first attempt at publishing on the web so please bear with me
    I will upload more in due course.
    